target
.classpath
.project
.settings
.DS_Store
.idea/
nb-configuration.xml
.directory
build
*.iml
smartcontroller/data/
#repository/src/main/java/eu/arcadia/model
#repository/src/main/java/META-INF
*.log
.xml
.cfg
